<!-- filepath: /src/app/components/character-list/character-list.component.html -->
<div class="character-list">
  <h1>Lista de Personajes</h1>
  <table class="character-table">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of characters">
        <td>
          <a [routerLink]="['/character', character.id]">
            <img [src]="character.image" alt="{{ character.name }}" />
          </a>
        </td>
        <td>{{ character.name }}</td>
        <td>{{ character.description || "Sin descripción" }}</td>
      </tr>
    </tbody>
  </table>
</div>
